// Navigation Styles here

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 24%;
    border-bottom: 2px dashed @navigation-border;
  
    a{
        text-decoration: none;
        color: black;
    }
    .links{
      width: 40%;
      a{
        padding: 0% 5%;
        font-size: 1.45em
      }
    }
  }